a.bmp
tmp.delete/
KSJApiLog/
common/
doc/
KSJApi.bin/KSJAndroidLibs

*.obj
*.idb
*.sdf
*.aps
*.suo
*.user
*.opensdf

*.o
*.o.*

obj

ipch/
/doc
/KSJApi/ipch
/KSJApi.Lib/x86
/KSJApi.Lib/x64
KSJApi_Demo_MFC.lib/
KSJCAM_1.lib/
KSJCAM_89.lib/
KSJCAM_88.lib/
KSJCAM_3.lib/
KSJCAM/
KSJDemoVC_Base.Lib/
KSJDemoVC_TriggerMode.Lib/
KSJDemoVC_3A.Lib/
