a.bmp
tmp.delete/
KSJApiLog/
common/
doc/

*.obj
*.idb
*.sdf
*.aps
*.suo
*.user
*.opensdf
*ilk
*.pdb

*.o
*.o.*

obj

*.log

ipch/
/doc
/KSJApi/ipch
/KSJApi.Lib/x86
/KSJApi.Lib/x64
KSJApi_Demo_MFC.lib/
KSJCAM_1.lib/
KSJCAM_89.lib/
KSJCAM_88.lib/
KSJCAM_3.lib/
KSJCAM/
KSJDemoQT_QImage/KSJShow/MD
KSJDemoQT_QImage/KSJShow/MDd
KSJDemoQT_QImage/KSJShow/GeneratedFiles
KSJDemoQT_QImage/KSJShow_Tuling/MD
KSJDemoQT_QImage/KSJShow_Tuling/MDd
KSJDemoQT_QImage/KSJShow_Tuling/GeneratedFiles

#KSJDemoVC_Base.Lib/
#KSJDemoVC_TriggerMode.Lib/
#KSJDemoVC_3A.Lib/
#KSJDemoCPP_Multiple_OPENCL_home
#KSJDemoCPP_Multiple_OPENCL
#KSJDemoCPP_Multiple_Guangzhou
#KSJDemoAndroid_Base
#KSJDemoCPP_Araviss
