SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a15",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1911",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0511",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0521",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1521",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0531",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0551",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0561",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1561",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0512",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0522",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1522",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0532",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0552",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0916",ATTRS{idProduct}=="0552",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0562",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1562",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0513",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"


SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0515",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0525",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1525",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0535",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0555",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0565",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1565",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0817",ATTRS{idProduct}=="0555",GROUP="user",MODE="0777"


SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0516",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0526",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1526",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0536",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0566",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1566",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0523",GROUP="user",MODE="0777"





SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0517",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0527",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1527",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0537",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0567",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1567",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1568",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1569",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1570",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1571",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1572",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1573",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0518",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0528",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0538",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0568",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0519",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0529",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0539",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0569",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="051a",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="052a",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="053a",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="056a",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="057a",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="051b",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="052b",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="053b",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="056b",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="057b",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="053C",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="056C",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0611",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0612",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0631",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0632",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0633",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0634",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0635",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0636",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0637",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0638",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1711",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1712",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1713",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1714",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1811",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1812",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1813",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1814",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1815",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1816",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1817",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1818",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1911",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1912",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1913",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1914",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0530",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="0520",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1110",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="04B4",ATTRS{idProduct}=="8613",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a11",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a12",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a13",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a14",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a15",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a16",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a17",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a18",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a19",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1a",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1b",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1c",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1d",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1e",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a1f",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a20",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a21",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a22",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a23",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a24",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1b11",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1b12",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a25",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a26",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a27",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a28",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a29",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a2A",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a2B",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a2C",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1D10",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1D11",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1c27",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1c28",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1c29",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1c2A",GROUP="user",MODE="0777"

SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1A2D",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1A2E",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1D12",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1D13",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1a2f",GROUP="user",MODE="0777"
SUBSYSTEM=="usb",ATTRS{idVendor}=="0816",ATTRS{idProduct}=="1d15",GROUP="user",MODE="0777"